{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <h1>Créer un nouveau cours</h1>

    {{ include('cours/_form.html.twig') }}

    <a href="{{ path('cours_index') }}"class="btn btn-success">Retour à la liste</a>
{% endblock %}
